<!DOCTYPE html>
<html>
    <head>
        <title>Image analysis</title>
        <link rel="stylesheet" type="text/css" href="static/style/main.css">
    </head>
    <body>
        {{{ body }}}
    </body>
</html>